.btn {
	color: #fff;
}

.navbar {
	background-color: #071826 !important;
}

.navbar .navbar-brand img {
	margin-top: -0.22em !important;
	padding-right: 0.25em;
	width: 25% !important;
}

.navbar-toggler {
	margin-right: -0.5em;
	border: none;	
}

.navbar-toggler:focus {
	border: none;
	outline: none;
}